extends layout

block content
    if book
        h1 Редактирование
    else
        h1 Добавить новую книгу

    div(style="display: flex; align-items: flex-start; max-width: 1600px;")

        form(action=book ? `/book/${book.id}`: "/book", method="post", style="display: flex; flex-direction: column; max-width: 400px; flex-grow: 1;")

            label(for="title") Название
            input(type="text" id="title" name="title" value=book ? book.title : "" required style="margin-bottom: 10px;")

            label(for="author") Автор
            input(type="text" id="author" name="author" value=book ? book.author : "" required style="margin-bottom: 10px;")

            label(for="releaseDate") Дата выпуска
            input(type="date" id="releaseDate" name="releaseDate" value=(book && book.releaseDate ? book.releaseDate.split('-').reverse().join('-') : "") required style="margin-bottom: 10px;")

            if book
                label(for="borrower") Читатель
                span(style="margin-bottom: 10px; display: block;" name = "borrower") #{book.borrower || 'Нет данных'}

                label(for="returnDate") Дата возврата
                span(style="margin-bottom: 10px; display: block;" name = "returnDate") #{book.returnDate || 'Нет данных'}


            button(type="submit" style="background-color: black; color: white; font-size: 20px; padding: 5px 10px; border: none; cursor: pointer;") Сохранить

            //// Если книга существует, добавляем кнопку для удаления книги
            //if book
            //    form(action=`/book/${book.id}/delete` method="post" style="margin-top: 20px;")
            //        button(type="submit" style="background-color: black; color: white; font-size: 20px; padding: 5px 10px; border: none; cursor: pointer;" onclick="return confirmDeletion()" action=`/book/${book.id}/delete`) Удалить книгу

        if book && book.coverImage
            div(style="flex-shrink: 0; margin-left: 20px;")
                img(src=`/uploads/${book.coverImage}`, alt="Обложка книги", style="max-width: 400px; max-height: 700px; object-fit: cover;")

        if book && book.available
            button(id="borrow-button", type="button" style="background-color: black; color: white; font-size: 20px; padding: 5px 10px; border: none; cursor: pointer; margin-top: 20px; width: 250px") Забрать книгу
        if book && !book.available
            button(id="return-button", type="button" style="background-color: black; color: white; font-size: 20px; padding: 5px 10px; border: none; cursor: pointer; margin-top: 20px; width: 250px") Вернуть книгу

        if error
            div(style="color: white; font-size: 30px; margin-bottom: 20px; margin:10px; display: inline-block;") #{error}

    if book
        div(id="borrowModal", style="display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); padding-top: 60px")
            div(style="background-color: grey; margin: auto; padding: 20px; width: 300px; height: 500px; border-radius: 10px; max-height: 200px")
                h2 Забрать книгу
                form(id="borrowForm", action=`/book/${book.id}/borrow` method="post")
                    label(for="borrowerName") Имя читателя
                    input(type="text" id="borrowerName" name="borrower" required style="margin-bottom: 10px; margin: 3px")

                    label(for="borrowReturnDate") Дата возврата
                    input(type="date" id="borrowReturnDate" name="returnDate" required style="margin-bottom: 10px; margin: 3px")

                    button(type="submit" style="background-color: black; color: white; font-size: 16px; padding: 5px 10px; border: none; cursor: pointer;") Забрать книгу

                button(type="button" id="closeModal" style="background-color: red; color: white; font-size: 16px; padding: 5px 10px; border: none; cursor: pointer; margin-top: 10px;") Закрыть

        div(id="returnModal", style="display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); padding-top: 60px;")
            div(style="background-color: grey; margin: auto; padding: 20px; width: 300px; height: 500px; border-radius: 10px; max-height: 200px")
                h2 Вернуть книгу

                form(id="returnForm", action=`/book/${book.id}/return` method="post")
                    label(for="returnerName") Введите ваше имя (для возврата книги)
                    input(type="text" id="returnerName" name="borrower" required style="margin-bottom: 10px; margin: 3px")

                    button(type="submit" style="background-color: black; color: white; font-size: 16px; padding: 5px 10px; border: none; cursor: pointer;") Вернуть книгу

                button(type="button" id="closeReturnModal" style="background-color: red; color: white; font-size: 16px; padding: 5px 10px; border: none; cursor: pointer; margin-top: 10px;") Закрыть

    script.
        function confirmDeletion() {
            return confirm("Вы уверены, что хотите удалить эту книгу?");
        }
        var borrowModal = document.getElementById("borrowModal");
        var borrowBtn = document.getElementById("borrow-button");
        var closeBorrowModal = document.getElementById("closeModal");

        var returnModal = document.getElementById("returnModal");
        var returnBtn = document.getElementById("return-button");
        var closeReturnModal = document.getElementById("closeReturnModal");

        if (borrowBtn) {
            borrowBtn.onclick = function () {
                borrowModal.style.display = "block";
            }
        }

        if (closeBorrowModal) {
            closeBorrowModal.onclick = function () {
                borrowModal.style.display = "none";
            }
        }

        if (returnBtn) {
            returnBtn.onclick = function () {
                returnModal.style.display = "block";
            }
        }

        if (closeReturnModal) {
            closeReturnModal.onclick = function () {
                returnModal.style.display = "none";
            }
        }

        window.onclick = function (event) {
            if (event.target == borrowModal) {
                borrowModal.style.display = "none";
            }
            if (event.target == returnModal) {
                returnModal.style.display = "none";
            }
        }
