extends layout

block content
    h1 Библиотека

    label(class="filter-label" onclick="fetchBooks('/filters?available=true')") Доступные
    label(class="filter-label" onclick="fetchBooks('/filters?overdue=true')" style="margin: 10px") Просроченные
    label(class="filter-label" onclick="fetchBooks('/filters?')" style="margin: 10px") Очистить

    div.container(style="max-height: 500px; overflow-y: auto; max-width: 1500px")
        table.book-table
            thead
                tr(style="background-color:black")
                    th(style="color:white;background-color:black") Название
                    th(style="color:white;background-color:black") Автор
                    th(style="color:white;background-color:black") Год
                    th(style="color:white;background-color:black") Статус
                    th(style="color:white;background-color:black") Дата возврата
                    th(style="color:white;background-color:black")
            tbody
                each book in books
                    tr
                        td(style="color:white;background-color:black")
                            a(href=`/book/${book.id}` style="color: white; text-decoration: none;")
                                i(class="fas fa-book-open")
                                span(style="color: white; text-decoration: none;margin:3px").book-title= book.title
                        td(style="color:white;background-color:black")= book.author
                        td(style="color:white;background-color:black")= book.releaseDate
                        td(style="color:white;background-color:black")= book.available ? "Доступна" : "Недоступна"
                        td(style="color:white;background-color:black")= book.returnDate ? book.returnDate : "Нет"
                        td(style="color:white;background-color:black")
                            button(type="button" style = "background-color:black; color:white" class="delete-button" onclick=`showConfirmation('${book.id}')`)
                                i(class="fa-solid fa-trash") Удалить

                            //form(id=`delete-form-${book.id}` style="display:none;" action=`/book/${book.id}/delete` method="POST")
                            //    p.form-paragraph Вы уверены, что хотите удалить эту книгу?
                            //    button(class="delete-book-button" type="submit") Да
                            //    button(type="button" onclick=`hideConfirmation('${book.id}')`) Нет

    a(href="/book/new" class="add-book-button")
        i(class="fas fa-plus-circle")
        span(style="margin:5px") Добавить новую книгу

    script.

        function showConfirmation(bookId) {
            if (confirm("Вы уверены, что хотите удалить эту книгу?")){
                fetch(`/book/${bookId}/delete`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        updateBookList(data.books);
                    })
            }
        }

        function hideConfirmation(bookId) {
            document.getElementById(`delete-form-${bookId}`).style.display = "none";
        }

        // фильтр
        function fetchBooks(url) {
            fetch(url, {method: "GET"})
                .then(response => response.json())
                .then(data => {
                    updateBookList(data.books);
                }).catch(error => console.log("Ошибка: ", error));
        }

        function updateBookList(books) {
            const container = document.querySelector(".container");

            container.innerHTML = '';

            const table = document.createElement("table");
            table.className = "book-table";

            const thead = document.createElement("thead");
            const headerRow = document.createElement("tr");
            headerRow.innerHTML = `
                <th style="color:white;background-color:black">Название</th>
                <th style="color:white;background-color:black">Автор</th>
                <th style="color:white;background-color:black">Год</th>
                <th style="color:white;background-color:black">Статус</th>
                <th style="color:white;background-color:black">Дата возврата</th>
                <th style="color:white;background-color:black"></th>
            `;
            thead.appendChild(headerRow);
            table.appendChild(thead);

            const tbody = document.createElement("tbody");

            books.forEach(book => {
                const row = document.createElement("tr");

                const titleCell = document.createElement("td");
                titleCell.innerHTML = `<a href="/book/${book.id}" style="color: white; text-decoration: none;">${book.title}</a>`;
                titleCell.style.color = "white";
                titleCell.style.backgroundColor = "black";

                const authorCell = document.createElement("td");
                authorCell.innerText = book.author;
                authorCell.style.color = "white";
                authorCell.style.backgroundColor = "black";

                const releaseDateCell = document.createElement("td");
                releaseDateCell.innerText = book.releaseDate;
                releaseDateCell.style.color = "white";
                releaseDateCell.style.backgroundColor = "black";

                const statusCell = document.createElement("td");
                statusCell.innerText = book.available ? "Доступна" : "Недоступна";
                statusCell.style.color = "white";
                statusCell.style.backgroundColor = "black";

                const returnDateCell = document.createElement("td");
                returnDateCell.innerText = book.returnDate ? book.returnDate : "Нет";
                returnDateCell.style.color = "white";
                returnDateCell.style.backgroundColor = "black";

                const deleteCell = document.createElement("td");
                deleteCell.innerHTML = `
                    <button type="button" class="delete-button" style="background-color:black;color:white" onclick="showConfirmation('${book.id}')">
                        <i class="fa-solid fa-trash"></i> Удалить
                    </button>

                    <form id="delete-form-${book.id}" style="display:none;" action="/book/${book.id}/delete" method="POST">
                        <p class="form-paragraph">Вы уверены, что хотите удалить эту книгу?</p>
                        <button class="delete-book-button" type="submit">Да</button>
                        <button type="button" onclick="hideConfirmation('${book.id}')">Нет</button>
                    </form>
                `;
                deleteCell.style.color = "white";
                deleteCell.style.backgroundColor = "black";

                row.appendChild(titleCell);
                row.appendChild(authorCell);
                row.appendChild(releaseDateCell);
                row.appendChild(statusCell);
                row.appendChild(returnDateCell);
                row.appendChild(deleteCell);

                tbody.appendChild(row);
            });

            table.appendChild(tbody);

            container.appendChild(table);
        }
    style.
        .filter-label {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            background-color: black;
            color: white;
            border: 2px solid white;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        .filter-label:hover {
            background-color: #333;
        }

        .container {
            max-height: 500px;
            overflow-y: auto;
            border: 1px solid black;
            padding: 10px;
            margin-top: 20px;
        }
